/*Resetting default margin & padding*/
body{
    margin: 0;
    padding: 0;
   background-color: rgb(199, 209, 199);
    font-family: sans-serif;
}

/*Container styling*/
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 420px;
    border-radius: 5px;
    border: 10px solid rgba(122, 122, 122, 0.737);
    box-shadow: 10px 10px 15px rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/*Image section styling*/
.image{
 width: 350px;
 height: 420px;
 overflow: hidden;
}

.image img{
    width: 100%;
    height: 100%;
}

/*Styling the Input box*/
.input_BOX{
    width: 350px;
    height: 260px;
    padding: 80px 40px;
    background: rgba(255,255,255,.8);


}

/*Styling the heading*/
h3{
    margin: 0;
    padding: 0 0 20px;
    color: #262626;
}

/*Input field styling*/
.Petrol_cal input{
    width: 100%;
    margin-bottom: 20px; 
}

/*Styling the input fields*/
.num_of_Litres , .Petrol_price{
    justify-content: space-between;
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: #262626;
    background: transparent;
    font-size: 16px;
    padding-left: 40px;
    box-sizing: border-box;
}

/*Styling the button*/
button{
    position: relative;
    top: 40px;
    left: 15px;
    color: aliceblue;
   background: rgb(232, 130, 35);
   background: linear-gradient(0deg, (6, 14, 131,1)0%, rgbe(12,25,180,1)100%);
   border: none;
   border-radius: 25px;
   width: 200px;
   height: 40px;
}

/*Hover effect for the button*/
.btn:hover{
    background: rgb(195, 197, 189);
    background: linear-gradient(0deg, rgb(188, 156, 108) 0%, rgb(210, 173, 103)100%);
}

/*Styling the place holder*/
::placeholder
{
    color: rgba(0,0,0,.5);
}

/*Setting the position for petrol calc*/
.Petrol_calc{
    position: relative;
}

/*Setting the position for a paragraph*/
p{
    position: relative;
    top: 45px;

}

/*Setting the position for total*/
.total{
    position: relative;
    left: 120px;

}
