/* setting the font styling & the background color for the whole body*/
body{
    margin: 0%;
    font-family: "Dancing script" , cursive;
    background-color: #ffffff;
    color: #000000b6;
}

/* controlling the position of the content*/
main{
    margin-left: 15px ;
    margin-right: 15px;
}

/* styling the first header */
.name{
    text-align: center;
    padding:10px ;
    color: #f6f7f7;
    background-color: #9ED2BE;
    border:5px outset #e3dad0;
    border-radius:  50px;
    border-width:15px;  
}

/* styling the nav bar */
.navbar ul{
    list-style:none;
    background-color: #7EAA92;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}

.navbar a{
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    display:block;text-align: center;

}
.navbar a:hover{
    background-color: #18c39b;
}
.navbar li{
    float: left;
}

/* styling the title which is the name of the  movie*/
.tittle{
    text-align: center;
    font-style:italic;
}

/* styling smaller headers*/
#DidYouKnow{
    color:  #259a7b;
    font-family: "Dancing script" , cursive;
    font-style: italic;
    background-color: #C8E4B2;
}

.DYK{
    color: #259a7b;
    font-family: "Dancing script" , cursive;
    font-style: italic;
    background-color: #C8E4B2;
}

.content-{
    border: 20px solid #e7eced ;
    border-radius: 10px;
 }

 #FAQ{
    color:  #259a7b;
    font-family: "Dancing script" , cursive;
    font-style: italic;
    background-color: #C8E4B2;
 }

 #Details{
    color:  #259a7b;
    font-family: "Dancing script" , cursive;
    font-style: italic;
    background-color: #C8E4B2;
 }

 .spoiler{
    color: #259a7b;
    font-family: "Dancing script" , cursive;
    font-style: italic;
    background-color: #C8E4B2;
 }
 
 .spoilers{
    color: #259a7b;
    font-family: "Dancing script" , cursive;
    font-style: italic;
    background-color: #C8E4B2;
 }

 /* styling the button*/
 .button{
    color: #ffffff;
    background-color: #7EAA92;
    text-align: center;
    border: 5px solid  #7EAA92 ;
    border-radius: 10px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

/* styling the footer*/
.footer{
    color: #a0a4a1 ;
    font-size:small;
    text-align:center;
}
