/*setting default margin, padding &box sizing for all the elements & a hidden overflow*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    
}
/*Styling the background for the page*/
body{
    background-image: url(stars.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*Styling the container of audio items by using CSS grid*/
.audios_container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
/*Styling the individual items of the container*/
.container_item{
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
/*Styling the heading*/
h1{
    border-radius: 25px;
    background-image: linear-gradient(90deg, #000, #00fff7, #b222e2);
    margin-top: 10px;
    color: aliceblue;
    text-align: center;

}
/*Styling the button inside the audios_container*/
.audios_container{
button{
    border: none;
    padding: 16px 24px;
    font-weight: 600;
    font-size: 1rem;
    color: aliceblue;
    border-radius: 999px;
    cursor: pointer;
    background-image: linear-gradient(90deg,#b222e2, #00fff7, #000);
    background-size: 400% 400%;
    transition: background-position 0.5s ease;
    width: 400px;
    height: 90px;
    outline: none;
    margin: 10px;
    
}
/*A hover effect for the button*/
button:hover{
    transition: all 0.3s ease-in-out;
    background-position: 100%;
    color: #b222e2;
    font-size: large;
}
}
/*Styling the .nxt_page button*/
.nxt_page{
    position: absolute;
    right: 80px;
    bottom: 10px;
    border: none;
    padding: 16px 24px;
    font-weight: 600;
    font-size: 1rem;
    color: aliceblue;
    border-radius: 999px;
    cursor: pointer;
    background-image: linear-gradient(90deg,#b222e2, #00fff7, #000)  ;
    background-size: 400% 400%;
    transition: background-position 0.5s ease;
    width: 100px;
    height: 50px;
    outline: none;
}


